section {
    border: 2px solid black;
}

div {
    border: 5px solid #333;
    width: 300px;
    padding: 20px;
    background: #eee;
    margin: 10px 10px 20px 10px;
    /* margin-bottom: 20px; */
}

div.content-box {
    box-sizing: content-box;
}

div.border-box {
    box-sizing: border-box;
}