div.flex-container{
    border: 2px solid blue;
    display: flex;
    width: 400px;
    padding: 1em; 

    align-items: flex-start;
    flex-wrap: wrap;
}

div.flex-item {
    border: 2px solid #000;
    background: #eee;
    padding: 20px;
}

.flex-grow-one {
    flex-grow: 1;
}

.flex-grow-2nd-only {
    flex-grow: 1;
}

.flex-grow-proportional-1 {
    flex-grow: 1;
}


.flex-grow-proportional-2 {
    flex-grow:2;
}


.flex-grow-proportional-3 {
    flex-grow: 3;
}


