div.flex-container{
    border: 2px solid blue;
    display: flex;
    width: 400px;
    padding: 1em; 

    align-items: flex-start;
}

div.flex-item {
    border: 2px solid #000;
    background: #eee;
    padding: 20px;
}

.custom-order-5 {
    order: 5
}
.custom-order-3 {
    order: 3
}
.custom-order-1 {
    order: 1
}
.custom-order-6 {
    order: 6
}
.custom-order-2 {
    order: 2
}
.custom-order-4 {
    order: 4
}

