header, footer {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

section {
    display: flex;
}

body {
    background: #EEEEEE;
}

article {
    background: #FFFFFF;
    padding: 10px 30px;
    margin: 20px 50px;
    /* border: 1px solid grey; */
    border-radius: 1%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

div {
    padding: 20px;
}