* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    position: relative;
}

.topBar {
    background:  navy;
    color: #FFF;
}

ul.socialIcons {
    display: flex;
    gap: 10px;
    margin: auto;
    max-width: 100px;
    justify-content: space-between;
    padding: 10px 0 30px 0;
}

li {
    list-style: none;
}

.mainNav {
    max-width: 80%;
    margin: auto;
    border-radius:  30px;
    position: absolute;
    background: #FFF;
    top:40px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
}

.mainNav,
.mainNav nav > ul {
    display: flex;
    gap: 40px;
    align-items: center;
}

.heroSection {
    min-height: 450px;
    background-image: url("premium_photo-1669839137069-4166d6ea11f4.avif");
    background-position: center;
    background-size: cover;  
    background-repeat: no-repeat; 
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    text-align: center;
    gap:10px
}

.fancyLetter {
    color: blue;
    font-size: 27px;
}

.primaryBtn {
    background: navy;
    width: max-content;
    margin: 0 auto;
    padding: 5px 15px;
    border-radius: 10px;
    font-size: 0.8rem;
}

.primaryBtn:hover {
    background: lightblue;
}

.mobileTogglerCheckbox,
.mobileToggler {
    display: none;
}

.subMenu {
    display: none;
}

li:hover > .subMenu {
    display: block;
    position: absolute;
    background: #FFF;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mainNav > ul > li {
    position: relative;
}

.hasChildren > a::after {
    content: "▼";
    font-size: 8px;
    padding-left: 5px;
}

li.hasChildren:hover > a::after {
    content: "▲";
  
}

@media screen and (max-width: 610px) {
    .mobileToggler {
        display: block
    }

    .mainNav {
        width: 80%;
    }

    .fa-xmark {
        display: none !important;
    }

    .mainNav > nav {
        display: none;
        position: absolute;
        background: #FFF;
        top:60px;    
        width: 100%;
        left:0;
        border-radius: 30px;

    }

    .mobileTogglerCheckbox:checked ~ nav{
        display: block !important;
    }

    .mobileTogglerCheckbox:checked ~label > .fa-xmark {
        display: block !important;
    }

    .mobileTogglerCheckbox:checked ~label > .fa-bars {
        display: none;
    }

    .mobileToggler {
        cursor:pointer
    }

    .mainNav nav ul {
        flex-direction: column;
        gap: 10px;
    }

   .mainNav  {
    display: block;
   } 

   label.mobileToggler {
    position: absolute;
    top: 20px;
   }

   .mainNav {
    text-align: center;
   }

  .subMenu {
    display: flex;
    text-align: center;
    margin: 10px auto;
    background: #f6f3f3;
    padding: 10px;
  }
}